/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* MOVEO ICON COLOR THEME */
:root {
  --primary-color:        #c25b56;   
  --secondary-color:      #535665;   
  --background-color:     #0F172A;   
  --white-color:          #FFFFFF;
  --black-color:          #000000;
  --text-color:           #CBD5E1;   
  --highlight-color:      #d58985;   
  --shadow-color:         rgba(0, 0, 0, 0.6); 
  --input-border-color:   #858791;   
  --soft-surface-color:   #c1afb2;   
  --neutral-color:        #858791;   
  --transition-fast:      0.3s;
}


/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* REUSABLE ELEMENTS */
a{
    text-decoration: none;
    color: var(--black-color);
    transition: var(--transition-3s);
}

a:hover{
    text-decoration: underline;
}

body {
    display: flex; /* מפעיל את Flexbox */
    justify-content: center; /* ממרכז את התוכן אופקית */
    align-items: center; /* ממרכז את התוכן אנכית */
    height: 100vh; /* vh = כל הגובה של הדפדפן */
    background-color: #0F172A; /* צבע רקע */
    font-family: 'Poppins', sans-serif;
    direction: rtl;
    margin: 0; /* מבטל שוליים ברירת מחדל של הדפדפן */
}

/* לוגו + טקסט במרכז העליון */
.top-brand {
    display: flex;
    justify-content: center; /* מרכז אופקית */
    align-items: center;     /* מרכז אנכית בשורה */
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    height: 28px;
    transform: translateY(1.8px);/* יישור עם הטקסט */
    display: inline-block;
    vertical-align: middle; 
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: #c25b56;
    margin: 0;
    line-height: 1;
    transform: translateY(1.8px); /* תוכל לשחק עם זה בין 0–2px */
}

.divider-line {
    width: 3px;
    height: 22px;
    background-color: #c25b56;
    margin: 0 8px;
}